In [1]:
import pandas as pd

In [8]:
DF1 = pd.DataFrame({'AUTOS':['Nissan','Ford','Audi'],
                    'COLOR':['blanco','Azul','Rojo']}).set_index('AUTOS')

In [9]:
DF2 = pd.DataFrame({'AUTOS':['Nissan','Ford','Audi'],
                    'MODELO':['2018','2023','2024']}).set_index('AUTOS')

In [10]:
DF1

         COLOR
AUTOS
Nissan  blanco
Ford      Azul
Audi      Rojo

In [11]:
DF2

       MODELO
AUTOS
Nissan   2018
Ford     2023
Audi     2024

In [13]:
DF = pd.concat([DF1, DF2], axis=1)

In [14]:
DF

         COLOR MODELO
AUTOS
Nissan  blanco   2018
Ford      Azul   2023
Audi      Rojo   2024