In [1]:
import pandas as pd

In [2]:
DF1 = pd.DataFrame({'AUTOS':['Nissan','Ford','Audi'],
                    'COLOR':['blanco','Azul','Rojo']}).set_index('AUTOS')

In [7]:
DF2 = pd.DataFrame({'AUTOS':['Toyota','Ford','Audi'],
                    'MODELO':['2018','2023','2024']}).set_index('AUTOS')

In [8]:
DF = pd.merge(DF1,DF2, on='AUTOS')

In [9]:
DF

      COLOR MODELO
AUTOS
Ford   Azul   2023
Audi   Rojo   2024